# Olympics Games: MÃ©xico
Data Analysis and visualization of participation of the Mexican National Team in the Olympic Games.
Sources: https://www.kaggle.com/pavanraj159/olympics-history-1896-2016/?select=athlete_events.csv#data
### Some questions are:
    What sports gives to Mexico Nationa Team more medals?
    What sports are the most effective for the Mexico Nationa Team?
    Which athletes give to Mexico Nationa Team more medals?
    Which athletes are the most effective for the Mexico Nationa Team?

In [61]:
#import libraries and extract data
import pandas as pd
import numpy as np
import zipfile
#unzip the file with the data
with zipfile.ZipFile('athlete_events.csv.zip', 'r') as zip_ref:
    zip_ref.extractall()
#Open csv
athlete_events = pd.read_csv('athlete_events.csv')
#Visualize the type of data
athlete_events.info()
athlete_events.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [23]:
#Filter Mexican athletes
mexican_athlete = athlete_events[athlete_events['Team']=='Mexico']
mexican_athlete.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
184,82,Enrique Abaroa Martnez,M,26.0,183.0,75.0,Mexico,MEX,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,NaN
205,98,Hctor Abaunza,M,30.0,169.0,75.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Fencing,"Fencing Men's Foil, Individual",NaN
206,98,Hctor Abaunza,M,30.0,169.0,75.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Fencing,"Fencing Men's Foil, Team",NaN
207,98,Hctor Abaunza,M,30.0,169.0,75.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Fencing,"Fencing Men's Sabre, Team",NaN
712,405,Jos Javier Abella Fanjul,M,22.0,176.0,66.0,Mexico,MEX,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Men's Football,NaN